[Desktop Entry]
Type=Application
Categories=X-Alterator-Network
Icon=net-eth
Terminal=false
Name=IP interfaces
X-Alterator-URI=/net-eth
X-Alterator-Weight=30
X-Alterator-Help=net-eth
