<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN" "http://www.w3.org/TR/REC-html40/strict.dtd">
<!-- tcp connections module -->
<html wf="form?name-attribute=ifname">
  <head>
    <script src="/design/scripts/submit.js"/>
    <script src="/design/scripts/select.js"/>
    <script>
	effectEnable("ip", "configuration", "static");
	effectEnable("mask", "configuration", "static");
	effectEnable("default", "configuration", "static");
    </script>
  </head>
  <body>
	  <form method="POST" id="ajax-select">
	          <input type="hidden" name="ifname"/>
		  <table>
			  <tr>
			    <td colspan="2">
				<table class="form-table">
				    <tr>
					<td><span translate="_">Host name:</span></td>
					<td><input type="text" class="text" name="hostname"/></td>
				    </tr>
				    <tr>
					<td colspan="2">&nbsp;</td>
				    </tr>
				    <tr>
					<td><span translate="_">DNS servers:</span></td>
					<td><input type="text" class="text" name="dns"/></td>
				    </tr>
				    <tr>
					<td><span translate="_">Search domains:</span></td>
					<td><input type="text" class="text" name="search"/></td>
				    </tr>
				</table>
			    </td>
			  </tr>
			  <tr>
			    <td colspan="2"><hr/></td>
			  </tr>
			  <tr>
				  <td colspan="2"><strong><span translate="_">Interfaces</span></strong></td>
			  </tr>
			  <tr>
				  <td>
				      <select name="name" enumref="/net-eth" size="10" style="width:150px"/>
				      <br/>
				      <input type="submit" class="btn" value="Select" name="select"/>
				  </td>
				  <td>
					  <table class="form-table">
						  <tr>
							  <td><span translate="_">Status:</span></td>
							  <td><span class="alterator-label" name="info"></span></td>
						  </tr>
						  <tr>
							  <td><span translate="_">Configuration:</span></td>
							  <td><select name="configuration" enumref="/net-eth/avail_configurations"></select></td>
						  </tr>
						  <tr>
							  <td><span translate="_" name="ip">IP address:</span></td>
							  <td><input type="text" class="text" name="ip"></input></td>
						  </tr>
						  <tr>
							  <td><span translate="_" name="mask">Netmask:</span></td>
							  <td><select name="mask" enumref="/net-eth/avail_masks"></select></td>
						  </tr>
						  <tr>
							  <td><span translate="_" name="default">Default gateway:</span></td>
							  <td><input type="text" class="text" name="default"></input></td>
						  </tr>
						  <tr>
							  <td><span translate="_">Hardware binding:</span></td>
							  <td><select name="hw_binding" enumref="/net-eth/avail_hw_bindings"></select></td>
						  </tr>
						  <tr>
							  <td>&nbsp;</td>
							  <td><a href="/net-wifi?iface=" class="alterator-ref2">
							      <span translate="_">Wireless settings...</span>
							      </a>
							   </td>
						  </tr>
					  </table>
				  </td>
			  </tr>
			  <tr>
			    <td colspan="2">&nbsp;</td>
			  </tr>
			  <tr>
			    <td colspan="2">
				<input type="submit" name="commit" value="Apply" class="btn"/>
				&nbsp;
				<input type="submit" name="reset" value="Reset" class="btn"/>
			    </td>
			  </tr>
		  </table>
	  </form>
   </body>
</html>
